body {
  font-family: verdana;
  background-color: black;
  color: white;
  font-size: 120%;
}

input {
  font-size: 90%;
}

div#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.audiobox {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: #101010;
  align-items: center;
  width: 25%
}

p.audiotitle {
  font-size: 1.5em;
  margin: 0.5em;
  font-weight: bold;
}
